#navbar {
    text-align: center;
}
#navbar li{
    display: inline-block;
}

#slider{
   margin-left:20%;
}

#about{
    margin: 20%;
    margin-top: 20px;
    margin-bottom:100px;
}
#banner{
    text-align: center;
}

#PollingBoothAnswersOuter{
    margin-left:80%;
}

#PollingBoothAnswers{
    
}